@media screen and (max-width: 576px) {
	#me {
		margin-left: 0;
		height: 200px;
		width: 200px;
	}

	.center {
		height: 90vh;
		justify-content: center;
		align-items: flex-start;
	}

	#aux {
		display: none;
	}

	.center {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#main-header h1{
		font-size: 30px;
		font-weight: 800;
		text-shadow: -4px -4px 0 #000;
	}

	#main-header h2 {
		font-size: 1.5em;
		font-weight: 500;
		text-shadow: none;
	}

}