@media screen and (max-width: 991px) {
  #navbar li {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #me {
    margin-left: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 320px) {
    #me {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  #title h1{
    font-size: 1.8rem;
  }

  
}
