body {
  background: white;
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}

#me {
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px double black;
  /* margin-top: 25vh; */
}

li {
  margin-left: 70px;
}

#description {
  text-align: center;
  display: grid;
  grid-template-columns: 3;
  color: #f26d6d;
}

#main-header {
  width: auto;
  height: 100vh;
  padding: 50px;
  background-image: url(../imagenes/fondo1.jpg);
  background-size: cover;
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header h1 {
  font-family: "Press Start 2P", cursive;
  color: #d9d9d9;
  font-size: 49px;
  -webkit-text-stroke: 1px black;
  text-shadow: -5px -5px 0 #000;
}

#header {
  font-size: 18px;
}
